.user-menu .user-info {
  height: 100px;
  width: 250px;
  box-shadow: none !important;
}
.user-menu .user-info img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.user-menu .user-info h2 {
  font-size: 16px;
  font-weight: 400;
}
.user-menu .user-info h3 {
  font-size: 14px;
  font-weight: 400;
}
.user-menu .user-info p {
  font-size: 12px;
}
.user-menu .mat-menu-item {
  font-size: 14px;
  height: 36px;
  line-height: 36px;
}
