.menu-expand-icon {
  position: absolute;
  right: 10px;
  top: 13px;
}
.menu-item .mat-button {
  padding: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100%;
  font-weight: 400;
  border-radius: 0;
}
.menu-item .mat-button .menu-icon {
  margin-right: 12px;
  padding: 7px;
  border-radius: 50%;
}
.menu-item .mat-button.expanded .menu-expand-icon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
.menu-item .mat-button-wrapper {
  padding-left: 16px;
}
.sub-menu {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.25s ease-out;
  -moz-transition: max-height 0.25s ease-out;
  transition: max-height 0.25s ease-out;
}
.sub-menu .sub-menu .mat-button {
  padding-left: 40px;
}
.sub-menu selector-nest {
  padding-left: 60px;
}
.sub-menu selector-nest {
  padding-left: 80px;
}
.sub-menu selector-nest {
  padding-left: 100px;
}
.sub-menu selector-nest {
  padding-left: 120px;
}
.sub-menu selector-nest {
  padding-left: 140px;
}
.sub-menu selector-nest {
  padding-left: 160px;
}
.sub-menu selector-nest {
  padding-left: 180px;
}
.sub-menu selector-nest {
  padding-left: 200px;
}
.sub-menu .mat-button {
  padding-left: 20px;
}
.sub-menu.show {
  max-height: 900px;
  -webkit-transition: max-height 0.25s ease-in;
  -moz-transition: max-height 0.25s ease-in;
  transition: max-height 0.25s ease-in;
}
